* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    background-color: #1C1F2B !important;
    width: 100%;
    height: 100%;
    position: fixed;
    text-decoration: none;
}

#container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#header {
    display: flex;
    position: absolute;
    left: 37%;
    top: 15px;
}

#appName {
    color: #fff;
}

#devices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
    position: absolute;
    top: 30px;
    left: 75px;
    text-align: center;
    gap: 5px;
}

.device {
    width: 270px;
    height: fit-content;
    flex-wrap: wrap;
    border: solid 1px #99caff;
    border-radius: 10px;
    margin-top: 5px;
}


.device:hover {
    cursor: crosshair;
    -ms-zoom-animation: default;
    transition-duration: 100ms;
}

.captions {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.device_icon {
    width: 55px;
    padding-top: 5px;
}

#device_space {
    margin: 0;
    font-weight: 500;
}


#checkCpu {
    position: absolute;
    right: 75px;
    top: 35px;
    width: 100px;
    color: #99caff;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 5px;
    background-color: transparent;
    border: solid 2px #99caff;
    border-radius: 12px;
}

#device_info {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100px;
    margin-right: 25px;
    width: 65%;
    height: 80%;
    background-color: #bcbcbc4d;
    border-top: solid 1px #99caff;
    border-radius: 10px;

}

#infos {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 25px;
    font-weight: 600;
    /* right: auto; */
    color: #fff;

}

#infos ul {
    padding-left: 0 !important;
}

#format {
    position: absolute;
    right: 25px;
    bottom: 50px;
    width: fit-content;
    height: 50px;
    color: #fbff00;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 5px;
    background-color: transparent;
    border: solid 2px #fbff00;
    border-radius: 12px;
}

#wipe {
    position: absolute;
    right: 150px;
    bottom: 50px;
    width: fit-content;
    height: 50px;
    color: #fc3a3a;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 5px;
    background-color: transparent;
    border: solid 2px #fc3a3a;
    border-radius: 12px;
}



.test {
    flex-direction: row;
}